{% extends "base.html" %}
{% block nav %}{% endblock %}
{% block head %}
{{super()}}
<head>
    <style>
        .label-class {
        background-color: rgba(0, 0, 0, .75);
        color: #fff;
        padding: 10px;
        text-align: center;
}
    </style>
</head>

{% endblock %}
{% block content %}

<div class="container" style="padding: 0.8rem;">
    <h1>SNAKE DATA app</h1>
    <div class="form-inline">
        <div class="form-row">
            <div class="col">
                <form action={{url_for('sdata.get_snake_list')}} method="POST">
                    <select class="form-control" name="region" id="region" onchange="this.form.submit()" style="width: 140px;">
                        <option value="" disabled selected>
                            {% if region %}
                            {{ region.title() }}
                            {% else %}
                            Select state
                            {% endif %}

                        </option>
                        <option value="pahang">Pahang</option>
                        <option value="kelantan">Kelantan</option>
                        <option value="terengganu">Terengganu</option>
                        <option value="johor">Johor</option>
                        <option value="melaka">Melaka</option>
                        <option value="selangor">Selangor</option>
                        <option value="kuala_lumpur">Kuala Lumpur</option>
                        <option value="negeri_sembilan">Negeri Sembilan</option>
                        <option value="perak">Perak</option>
                        <option value="kedah">Kedah</option>
                        <option value="penang">Penang</option>
                        <option value="perlis">Perlis</option>
                        <option value="putrajaya">Putrajaya</option>
                        <option value="sabah">Sabah</option>
                        <option value="sarawak">Sarawak</option>
                        <option value="labuan">Labuan</option>
                        <option value="tioman">Tioman</option>
                        <option value="langkawi">Langkawi</option>
                    </select>
                </form>
            </div>
            <div class="col">
                &nbsp OR &nbsp
            </div>
            <div class="col">
                <form action={{url_for('sdata.get_snake_family')}} method="POST">
                    <select class="form-control" name="family" id="family" onchange="this.form.submit()" style="width: 140px;">
                        <option value="" disabled selected>
                            {% if family %}
                            {{ family }}
                            {% else %}
                            Select family
                            {% endif %}

                        </option>
                        <option>Natricidae</option>
                        <option>Elapidae</option>
                        <option>Pythonidae</option>
                        <option>Viperidae</option>
                    </select>
                </form>
            </div>
            <br>
        </div>

    </div>
    <div class="container">
        <br>
        {% if snake_data %}

        {% for snake in snake_data %}

        <a href="{{url_for('sdata.snake_info', id=snake.id)}}"><img src="{{url_for('sdata.images', id=snake.id)}}" class="img-responsive picla" data-label-class="label-class" style="max-width: 100%;height:auto;"
            alt="{{snake.name_scientific}}<br>({{snake.name_en}})"></a>
        {% endfor %}

        {% endif%}
    </div>
    <div class="container" style="display: none;">
        <br>
        {% if snake_cache %}

        {% for snake in snake_cache %}

        <a href="{{url_for('sdata.snake_info', id=snake.id)}}"><img src="{{url_for('sdata.images', id=snake.id)}}" class="img-responsive picla" data-label-class="label-class" style="max-width: 100%;height:auto;"
            alt="{{snake.name_scientific}}<br>({{snake.name_en}})"></a>
        {% endfor %}

        {% endif%}
    </div>
    <br>
    <br>
    <br>
</div>
{% endblock %}