{% extends "base.html" %}
{% block nav %}{% endblock %}
{% block head %}
{{super()}}

<head>
  <style></style>
</head>

{% endblock %}
{% block content %}
<div class="container" style="padding-top: 10px;margin: auto;max-width: 700px;">
  <h2 style="text-align: center;">Snake Information</h2>
  <div class="card" style="width: 100%;">
    {% for i in img_files %}
    <img class="card-img-top" src="{{url_for('sdata.img_info', id=snake_intel.id, filename=i )}}" alt="Card image cap">
    {% endfor %}

    <div class="card-body">
      <h5 class="card-title"><i>{{snake_intel.name_scientific}}</i><br>({{snake_intel.name_en}})</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ snake_intel.name_bm }}</h6>
      <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Family: {{snake_intel.family}}</li>
      <li class="list-group-item">Geographic distribution: {{snake_intel.snake_location}}<br>
        <img class="card-img-top mx-auto" src="{{url_for('sdata.geo', id=snake_intel.id )}}" alt="Card image cap" style="max-width: 355px;display: block;">
      </li>

      <li class="list-group-item">Habitat: <br>
      {% for h in convert(snake_intel.habitat) %}
        {{h}}
         <img class="img-fluid" src="{{url_for('sdata.static', filename='logo/')}}{{h.lower() +'.png'}}" alt="Card image cap" style="max-width: 32px;">    
         <br>
       {% endfor %}
      </li>

      <li class="list-group-item">Circadian rhythm:<br>
      {% for c in convert(snake_intel.circadian) %}
      {% if c %}
       {{c}}
        <img  class="img-fluid" src="{{url_for('sdata.static', filename='logo/')}}{{c.lower() +'.png'}}" alt="Card image cap" style="max-width: 48px;">    
        <br>
      {% else %}
        None
      {% endif %}
      {% endfor %}
      </li>
      

      {% if snake_intel.venom_status=='Venomous' %}
      <li class="list-group-item" style="color:red">Venom status: Venomous
        <img class="img-fluid" src="{{url_for('sdata.static', filename='logo/venomous.png')}}" alt="Card image cap" style="max-width: 40px;">
      </li>
      {% elif snake_intel.venom_status=='Non-venomous' %}
      <li class="list-group-item" style="color:green">Venom status: Non-venomous
        <img class="img-fluid" src="{{url_for('sdata.static', filename='logo/non-venomous.png')}}" alt="Card image cap" style="max-width: 40px;">
      </li>
      {% elif snake_intel.venom_status=='Undetermined' %}
      <li class="list-group-item">Venom status: Undetermined
        <img class="img-fluid" src="{{url_for('sdata.static', filename='logo/undetermined.png')}}" alt="Card image cap" style="max-width: 40px;">
      </li>
      {% else %}
      <li class="list-group-item">Venom status: {{snake_intel.venom_status}}</li>
      {% endif %}


      <li class="list-group-item">Appropriate Antivenom: <br>
        {% for a in convert(snake_intel.antivenom) %}
        {{ a }}<br>
        {% endfor %}
      </li>

      {% if snake_intel.iucn=='least' %}
      <li class="list-group-item">IUCN Red List:
        <img class="img-fluid" src="{{url_for('sdata.static', filename='logo/')}}{{snake_intel.iucn+'.png'}}" alt="Card image cap" style="max-width: 64px;">
      </li>
      {% elif snake_intel.iucn=='vulnerable' %}
      <li class="list-group-item">IUCN Red List:
        <img class="img-fluid" src="{{url_for('sdata.static', filename='logo/')}}{{snake_intel.iucn+'.png'}}" alt="Card image cap" style="max-width: 64px;">
      </li>
      {% elif snake_intel.iucn=='not_evaluated' %}
      <li class="list-group-item">IUCN Red List: 
        <img class="img-fluid" src="{{url_for('sdata.static', filename='logo/')}}{{snake_intel.iucn+'.png'}}" alt="Card image cap" style="max-width: 64px;">
      </li>
      {% else %}
      <li class="list-group-item">IUCN Red List: None</li>
      {% endif %}

      <li class="list-group-item">MyBIS info: <a href="https://www.mybis.gov.my/sp/{{snake_intel.mybis}}"
          target="blank">{{snake_intel.mybis}}</a></li>
    </ul>
    <!--<div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>-->
  </div>
  <br>
  <br>
</div>
{% endblock %}