{% extends "base.html" %}
{% block nav %}{% endblock %}
{% block head %}
{{super()}}
<head>
    <style>
        .label-class {
        background-color: rgba(0, 0, 0, .75);
        color: #fff;
        padding: 10px;
        text-align: center;
}
    </style>
</head>

{% endblock %}
{% block content %}

<div class="container" style="padding-top: 10px;margin: auto;max-width: 700px;">
    <h3 style="text-align: center;">Companion Webapp</h3>
    <div class="form-inline">
        <div class="form-row" style="text-align: center;margin: 0 auto;">
            <div class="col my-auto">
                <form action={{url_for('sdata.get_snake_list')}} method="POST">
                    <select class="form-control align-items-center" name="region" id="region" onchange="this.form.submit()" style="display:inline-block;">
                        <option value="" disabled selected>
                            {% if region %}
                            {{ region.title() }}
                            {% else %}
                            Select state
                            {% endif %}

                        </option>
                        <option value="johor">Johor</option>
                        <option value="kedah">Kedah</option>
                        <option value="kelantan">Kelantan</option>
                        <option value="kuala lumpur">Kuala Lumpur</option>
                        <option value="labuan">Labuan</option>
                        <option value="langkawi">Langkawi</option>
                        <option value="melaka">Melaka</option>
                        <option value="negeri sembilan">Negeri Sembilan</option>
                        <option value="pahang">Pahang</option>
                        <option value="penang">Penang</option>
                        <option value="perak">Perak</option>
                        <option value="perlis">Perlis</option>
                        <option value="putrajaya">Putrajaya</option>
                        <option value="sabah">Sabah</option>
                        <option value="sarawak">Sarawak</option>
                        <option value="selangor">Selangor</option>
                        <option value="terengganu">Terengganu</option>
                        <option value="tioman">Tioman</option>
                        
                    </select>
                </form>
            </div>
            <div class="col-1">
                &nbsp OR &nbsp
            </div>
            <div class="col my-auto">
                <form action={{url_for('sdata.get_snake_family')}} method="POST">
                    <select class="form-control align-items-center" name="family" id="family" onchange="this.form.submit()" style="display: inline-block;">
                        <option value="" disabled selected>
                            {% if family %}
                            {{ family }}
                            {% else %}
                            Select family
                            {% endif %}

                        </option>
                        <option>Natricidae</option>
                        <option>Elapidae</option>
                        <option>Pythonidae</option>
                        <option>Viperidae</option>
                    </select>
                </form>
            </div>
            <br>
        </div>

    </div>

    {% if snake_data %}

    {% else %}
    <div style="padding:1rem">
    <img src="{{url_for('sdata.static', filename='front/front.png')}}" class="img-fluid mx-auto">
    <a href="https://www.mybis.gov.my/pd/445"><button type="button" class="btn btn-success" style="width: 100%;border-top-right-radius: 0;border-top-left-radius: 0;">Download ebook</button></a>
    <!--<img src="{{url_for('sdata.static', filename='front/back.png')}}" class="img-fluid">-->
    </div>
    {% endif %}

    <div class="container">
        <br>
        {% if snake_data %}

        {% for snake in snake_data %}

        <a href="{{url_for('sdata.snake_info', id=snake.id)}}"><img src="{{url_for('sdata.thumbnails', id=snake.id)}}" class="img-fluid"></a>
        <hr>
        {% endfor %}

        {% endif%}
    </div>
    <div class="container" style="display: none;">
        <br>
        {% if snake_cache %}

        {% for snake in snake_cache %}

        <a href="{{url_for('sdata.snake_info', id=snake.id)}}"><img src="{{url_for('sdata.thumbnails', id=snake.id)}}" class="img-fluid"></a>
        {% endfor %}

        {% endif%}
    </div>
    <br>
    <br>
</div>
{% endblock %}